.App {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #2e9ccf;
  height: 100vh;
  flex: 1;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header:hover {
  background-color: rgb(20, 212, 203);
  color: black;
}
.header-list {
  text-align: left;
  list-style: none;
}
.header-list:hover {
  color: black;
}
.header-list-item {
  margin-top: 20px;
  text-align: left;
}
.app-section {
  flex: 2;
  background-color: #fff;
  margin: 100px 20px;
  text-align: left;
}

.link:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.link {
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}
